<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.prompthouse.test_mobile_1778397557332">
    <application
        android:label="test_mobile_1778397557332"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
